variables:
  DOCKER_DRIVER: overlay2
  AMBIENTE: prod   # main = produção

stages:
  - build
  - deploy

build:
  image: docker:24.0.9
  services:
    - name: docker:24.0.9-dind
  stage: build
  only:
    - main
  script:
    # DNS local (igual ao seu exemplo)
    - echo "nameserver 192.168.1.8" | tee /etc/resolv.conf
    # login no registry
    - docker login "$REGISTRY_ADDRESS" --username "$REGISTRY_USERNAME" --password "$REGISTRY_PASSWORD"

    # FRONTEND (raiz)
    - docker build --load -t "$REGISTRY_ADDRESS/formulario-frontend:$AMBIENTE" .

    # BACKEND (pasta backend/)
    - docker build --load -t "$REGISTRY_ADDRESS/formulario-backend:$AMBIENTE" backend

    # push
    - docker push "$REGISTRY_ADDRESS/formulario-frontend:$AMBIENTE"
    - docker push "$REGISTRY_ADDRESS/formulario-backend:$AMBIENTE"

deploy:
  stage: deploy
  only:
    - main
  image: cdrx/rancher-gitlab-deploy
  script:
    # Se não definir RANCHER_ENV nas variáveis do GitLab, usa 'Default'
    - export R_ENV="${RANCHER_ENV:-Default}"

    # Backend
    - upgrade --environment "$R_ENV" \
              --stack Formulario-Banco-Producao \
              --service formulario-backend \
              --new-image "$REGISTRY_ADDRESS/formulario-backend:prod"

    # Frontend
    - upgrade --environment "$R_ENV" \
              --stack Formulario-Banco-Producao \
              --service formulario-frontend \
              --new-image "$REGISTRY_ADDRESS/formulario-frontend:prod"
